{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid mt-3">
	<form class='form-group m-auto'>
		<div class="row">
			<div class="col-lg-6 col-12">
				{{ form.name | as_crispy_field }} 
			</div>
			<div class="col-lg-6 col-12">
				{{ form.email | as_crispy_field }} 
			</div>
			<div class="col-12">
				{{ form.body | as_crispy_field }} 
			</div>
			<button class='btn btn-outline-primary'>Submit</button>
		</div>
	</form>
</div>
{% endblock %}


<a href="https://getbootstrap.com/docs/4.0/layout/overview/">container</a>
<a href="https://getbootstrap.com/docs/4.0/components/forms/">form-group</a>
<a href="https://getbootstrap.com/docs/4.0/layout/grid/">row</a>